# Eksplorasi Data

## Load Data ver.1 (.data)

In [1]:
# Load library pandas
import pandas as pd 

# Load dataset
rawData = pd.read_fwf("adult.data", names = ['col1', 'col2'])
rawData.head(3)

df = rawData.col2.str.split(",",expand=True)
# assign nama kolom
df.columns = ['workclass',
                 'fnlwgt',
                 'education',
                 'education-num',
                 'marital-status',
                 'occupation',
                 'relationship',
                 'race',
                 'sex',
                 'capital-gain',
                 'capital-loss',
                 'hours-per-week',
                 'native-country',
                 'yearly-income']
df['age'] = rawData.col1.str.replace(',','')

df.head(5)

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,yearly-income,age
0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,39
1,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50
2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,38
3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,53
4,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,28

## Load Data ver.2 (.xlsx)

In [2]:
# Load library pandas
import pandas as pd 

# Load dataset used cars
# data = pd.read_csv("used_cars.csv").iloc[:,1:]
data = pd.read_excel("DataSensus.xlsx")

# Mengetahui dimensi data (row, column); (2000 baris dan 26 atribut data)
data.shape
data.columns = ['age', 'workclass', 'fnlwgt',
                 'education',
                 'education-num',
                 'marital-status',
                 'occupation',
                 'relationship',
                 'race',
                 'sex',
                 'capital-gain',
                 'capital-loss',
                 'hours-per-week',
                 'native-country',
                 'yearly-income']

### Load data v2 yang dipilih karena tipe data sesuai

In [3]:
# Melihat tipe data dari kolom
df.dtypes

workclass         object
fnlwgt            object
education         object
education-num     object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain      object
capital-loss      object
hours-per-week    object
native-country    object
yearly-income     object
age               object
dtype: object

In [4]:
data.dtypes

age               float64
workclass          object
fnlwgt            float64
education          object
education-num     float64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain      float64
capital-loss      float64
hours-per-week    float64
native-country     object
yearly-income      object
dtype: object

In [5]:
# Mencari data yang kosong
data.isna().any()

age               True
workclass         True
fnlwgt            True
education         True
education-num     True
marital-status    True
occupation        True
relationship      True
race              True
sex               True
capital-gain      True
capital-loss      True
hours-per-week    True
native-country    True
yearly-income     True
dtype: bool

In [6]:
# Cari missing values (NaN)
nanCol = data.columns[data.isna().any()]
data[nanCol].isna().sum()

age               1
workclass         1
fnlwgt            1
education         1
education-num     1
marital-status    1
occupation        1
relationship      1
race              1
sex               1
capital-gain      1
capital-loss      1
hours-per-week    1
native-country    1
yearly-income     1
dtype: int64

In [7]:
# Jumlah kelas pada fitur
print(len(data['age'].unique()))
print(len(data['workclass'].unique()))
print(len(data['education'].unique()))
print(len(data['education-num'].unique()))
print(len(data['marital-status'].unique()))
print(len(data['occupation'].unique()))
print(len(data['relationship'].unique()))
print(len(data['race'].unique()))
print(len(data['sex'].unique()))
print(len(data['capital-gain'].unique()))
print(len(data['capital-loss'].unique()))
print(len(data['hours-per-week'].unique()))
print(len(data['native-country'].unique()))
print(len(data['yearly income'].unique()))

74
10
17
17
8
16
7
6
3
120
93
95
43

KeyError: 'yearly income'

In [ ]:
# Ringkasan Statistik
data.describe()

In [ ]:
# Distribusi data
data.groupby('workclass').size()