# Eksplorasi Data

## Load Data ver.1 (.data)

In [1]:
# Load library pandas
import pandas as pd 

# Load dataset
rawData = pd.read_fwf("adult.data", names = ['col1', 'col2'])
rawData.head(3)

df = rawData.col2.str.split(",",expand=True)
# assign nama kolom
df.columns = ['workclass',
                 'fnlwgt',
                 'education',
                 'education-num',
                 'marital-status',
                 'occupation',
                 'relationship',
                 'race',
                 'sex',
                 'capital-gain',
                 'capital-loss',
                 'hours-per-week',
                 'native-country',
                 'yearly-income']
df['age'] = rawData.col1.str.replace(',','')

df.head(5)

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,yearly-income,age
0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,39
1,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50
2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,38
3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,53
4,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,28

## Load Data ver.2 (.xlsx)

In [2]:
# Load library pandas
import pandas as pd 

# Load dataset used cars
# data = pd.read_csv("used_cars.csv").iloc[:,1:]
data = pd.read_excel("DataSensus.xlsx")

# Mengetahui dimensi data (row, column); (2000 baris dan 26 atribut data)
data.shape
data.columns = ['age', 'workclass', 'fnlwgt',
                 'education',
                 'education-num',
                 'marital-status',
                 'occupation',
                 'relationship',
                 'race',
                 'sex',
                 'capital-gain',
                 'capital-loss',
                 'hours-per-week',
                 'native-country',
                 'yearly-income']

### Load data v2 yang dipilih karena tipe data sesuai

In [3]:
# Melihat tipe data dari kolom
df.dtypes

workclass         object
fnlwgt            object
education         object
education-num     object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain      object
capital-loss      object
hours-per-week    object
native-country    object
yearly-income     object
age               object
dtype: object

In [4]:
data.dtypes

age               float64
workclass          object
fnlwgt            float64
education          object
education-num     float64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain      float64
capital-loss      float64
hours-per-week    float64
native-country     object
yearly-income      object
dtype: object

In [5]:
# Mencari data yang kosong
data.isna().any()

age               True
workclass         True
fnlwgt            True
education         True
education-num     True
marital-status    True
occupation        True
relationship      True
race              True
sex               True
capital-gain      True
capital-loss      True
hours-per-week    True
native-country    True
yearly-income     True
dtype: bool

In [6]:
# Cari missing values (NaN)
nanCol = data.columns[data.isna().any()]
data[nanCol].isna().sum()

age               1
workclass         1
fnlwgt            1
education         1
education-num     1
marital-status    1
occupation        1
relationship      1
race              1
sex               1
capital-gain      1
capital-loss      1
hours-per-week    1
native-country    1
yearly-income     1
dtype: int64

In [13]:
# Jumlah kelas pada fitur
# Count unique elements in each column including NaN
uniqueValues = data.nunique(dropna=False)
print("Count Unique values in each column including NaN")
print(uniqueValues)

Count Unique values in each column including NaN
age                  74
workclass            10
fnlwgt            21649
education            17
education-num        17
marital-status        8
occupation           16
relationship          7
race                  6
sex                   3
capital-gain        120
capital-loss         93
hours-per-week       95
native-country       43
yearly-income         3
dtype: int64

In [9]:
# Ringkasan Statistik
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
# Distribusi data
data.groupby('workclass').size()

workclass
 ?                    1836
 Federal-gov           960
 Local-gov            2093
 Never-worked            7
 Private             22696
 Self-emp-inc         1116
 Self-emp-not-inc     2541
 State-gov            1298
 Without-pay            14
dtype: int64